<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <h2>David Gay</h2>
        <p>Lead Software Developer, <a href="https://kirkworkllc.com">Kirkwork</a>.</p>
        <ul>
            <li>
                <a href="https://github.com/dtgay">GitHub</a>
            </li>
            <li>
                <a href="https://www.goodreads.com/davidgay">Goodreads</a> (New! My goal is to read at least 50 books in 2020.)
            </li>
        </ul>
    </div>
</main>

</body>
</html>
